html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Gordita Regular";
  src: local("GorditaRegular"), url("../font/GorditaRegular.otf") format("truetype");
}
@font-face {
  font-family: "Gordita Medium";
  src: local("GorditaMedium"), url("../font/GorditaMedium.otf") format("truetype");
}
@font-face {
  font-family: "Gordita Light";
  src: local("GorditaLight"), url("../font/GorditaLight.otf") format("truetype");
}
body {
  font-family: "Gordita Regular";
  scroll-behavior: smooth;
  font-size: 20px;
  line-height: 31px;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: "Gordita Medium";
  font-weight: 500;
}

h1 {
  font-size: 74px;
  line-height: 1.2;
  letter-spacing: 1.2px;
  margin: 0 auto;
}

h2 {
  font-size: 48px;
  line-height: 72px;
}

h3 {
  font-size: 24px;
  line-height: 45px;
}

h4 {
  font-size: 22px;
  line-height: 35px;
}

h5 {
  font-size: 22px;
  line-height: 31.35px;
}

.bold {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  text-align: center;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #0F1620;
}

p {
  color: #0F1620;
}

button {
  color: #0F1620;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.App {
  min-height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}
.navBar li a {
  padding: 20px;
}

.backgroundimg {
  background-image: url("../Assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  margin: 0 3%;
  padding: 60px 10px 70px 10px;
}

.homestlye p {
  padding: 25px 0;
}

.homeforum {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
}

.homeleft,
.homeright, .homeforum button {
  width: calc(33.3333333333% - 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 25px;
}

.logonav {
  padding: 70px 0 81px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomeDemand,
.Topcompany {
  background-color: #E9F2EF;
}

.HomeDemand, .Topcompany, .Leadingstartup, .Jobiguides {
  padding-bottom: 179px;
}

.containerdemand {
  padding: 149px 0 81px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.containerdemand a {
  margin-left: auto;
  text-decoration: underline;
  color: #0EBB59;
}
.containerdemand a :visited {
  color: #0EBB59;
}

.flexleading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flexleading .arrowplacement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding: 5px;
}
.flexleading .arrowplacement img {
  padding: 0 5px;
}

.demandArray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.demandArray li {
  width: calc(25% - 20px);
  height: 310px;
  border: 1px solid #F5F5F5;
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.demandArray li h4:nth-child(odd) {
  color: white;
}
.demandArray li p:nth-child(odd) {
  font-size: 16px;
  color: #737373;
}
.demandArray li p:nth-child(even) {
  color: white;
}
.demandArray li:last-child {
  background-color: #0EBB59;
  border-radius: 15px;
}
.demandArray img {
  width: 75px;
  height: 75px;
  margin-bottom: 20px;
}

.flexdemand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Howsitwork h2 {
  padding: 149px 0 81px 0;
  text-align: center;
}

.QA h2 {
  padding: 29px 0 81px 0;
  text-align: center;
}

.howsitwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}
.howsitwork li {
  width: 330px;
  padding: 10px;
}
.howsitwork li h5 {
  margin: 20px;
}
.howsitwork li p {
  font-size: 17px;
  line-height: 31px;
  opacity: 70%;
}
.howsitwork li img {
  display: inline-block;
}

.Worldoftalents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 149px 0 81px 0;
}
.Worldoftalents img {
  width: 50%;
}

.flextalent p:first-child {
  color: #0EBB59;
  font-family: "Gordita Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
}
.flextalent p:nth-child(n+2) {
  font-size: 18px;
  line-height: 32px;
  opacity: 70%;
}
.flextalent h3 {
  color: #254135;
}

.flextopcompany {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexcompanycolors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flexcompanycolors img {
  width: 85px;
  height: 85px;
}
.flexcompanycolors h4 {
  margin: 10px;
}
.flexcompanycolors li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(25% - 30px);
  padding: 40px 35px;
  background-color: white;
  border-radius: 50px;
}
.flexcompanycolors li p {
  font-size: 16px;
  line-height: 30px;
  opacity: 70%;
  text-align: center;
  margin: 20px 0;
}

.flexcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flexcard .card {
  width: calc(50% - 20px);
  padding: 40px;
  background-color: #249F47;
  border-radius: 30px;
  height: 530px;
}
.flexcard .card p {
  color: white;
}
.flexcard .card p:nth-child(3) {
  padding: 40px 0 35px 0;
  font-size: 16px;
}
.flexcard .card p:nth-child(2) {
  font-family: "Gordita Medium";
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  padding: 50px 0 0 0;
}
.flexcard .card hr {
  border: none;
  height: 1px;
  background-color: white;
}

.starflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.starflex p {
  padding: 40px 0;
  font-weight: 500;
  font-family: "Gordita Medium";
}

.QA {
  text-align: center;
}
.QA h3, .QA p {
  text-align: left;
}
.QA p {
  font-size: 18px;
  opacity: 70%;
  line-height: 33px;
}
.QA p:last-child {
  background-color: #E9F2EF;
  display: inline-block;
  border-radius: 30px;
  font-weight: 500;
  font-family: "Gordita Medium";
  font-size: 16px;
  padding: 6px 20px;
  margin: 0 auto;
  opacity: 100%;
  margin-top: 60px;
}
.QA p a {
  color: #0EBB59;
  text-decoration: underline;
  padding: 5px;
}

.flexjobi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexjobicards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexjobicards li {
  width: calc(50% - 20px);
}
.flexjobicards li p:nth-child(2) {
  font-size: 16px;
  color: #AAAAAA;
  line-height: 25px;
}
.flexjobicards li span {
  color: #0F1620;
  font-weight: bold;
  font-size: 16px;
}
.flexjobicards li p:nth-child(3) {
  font-weight: 500;
  font-family: "Gordita Medium";
  font-size: 32px;
  line-height: 42px;
  padding: 28px 0 17px 0;
}
.flexjobicards li p:nth-child(4) {
  font-size: 18px;
  letter-spacing: -1px;
}