.backgroundimg {
    background-image: url('../Assets/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    margin: 0 3%;
    padding: 60px 10px 70px 10px;
}

.homestlye {
    p {
        padding: 25px 0;
    }
    p:last-child {
        color: grey;
    }
    p:last-child .bold {
        color: black;
    }
}

.homeforum {
    border: 1px solid black;
    // padding: 20px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
    margin: 0 auto;
}

.homeleft,
.homeright {
    width: calc(40%);
    display: flex;
    flex-direction: column;
    text-align: left;
    label {
    font-size: 16px;
    opacity: 70%;
    color: grey;
    }
    input, select {
        border:none;
        background-color: white;
    }
}

.homeleft {
    border-right: 1px solid $grey;
    padding-right: 25px;
}

.homeright {
    padding: 0 25px;
}

.homeforum button {
    width: 20%;
    border-radius: 5px;
    padding: 15px 35px;
    
}

.logonav {
    padding: 70px 0 81px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HomeDemand, 
.Topcompany {
    background-color: $lightgreen;
}

.HomeDemand, .Topcompany, .Leadingstartup, .Jobiguides {
    padding-bottom: 179px;
}

.containerdemand {
    padding: 149px 0 81px 0;
    align-items: flex-end;
    a {
        margin-left: auto;
        border-bottom: 2px solid $brightgreen;
        color: $brightgreen;
        :visited {
            color: $brightgreen;
        }
    }
}

.flexleading {
    display: flex;
    align-items: flex-end;
    .arrowplacement {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding: 5px;
        img {
            padding: 0 5px;
        }
    }
}

.demandArray {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
        width: calc(25% - 20px);;
        height: 310px;
        border: 1px solid $lightgrey;
        background-color: white;
        padding: 40px 30px;
        border-radius: 10px;
        margin-bottom: 20px;
        h4:nth-child(odd) {
            color: white;
            font-family: 'EB Garamond', serif;  
            font-size: 85px;
            line-height: 1.2px; 
            padding: 10px 0; 
            }
        p:nth-child(odd)  {
            font-size: 16px;
            color: #737373;
        }
        p:nth-child(even) {
            color: white;
            padding: 30px 0;
        }
    }
    li:last-child {
        background-color: $brightgreen;
        border-radius: 15px;
    }
    img {
        width: 75px; 
        height: 75px;
        margin-bottom: 20px;
    }
    
}

.flexdemand {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.fleximg {
    margin: 30px 0;
    display: flex;
    :first-child {
        width: 62px;
        height: 32px;
        margin: 30px;
    }
    :nth-child(2) {
        width: 92px;
        height: 92px;
    }
}

.Howsitwork h2 {
    padding: 149px 0 81px 0;
    text-align: center;
}

.QA h2 {
    padding: 29px 0 81px 0;
    text-align: center;
}


.howsitwork {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 20px;
    li {
        width: 330px;
        padding: 10px;
        h5 {
            margin: 20px;
        }
        p {
            font-size: 17px;
            line-height: 31px;
            opacity: 70%;
        }
        img {
                display: inline-block;
            }
    }
}

.Worldoftalents {
    display: flex;
    padding: 149px 0 81px 0;
    img {
        width: 50%;
        height: 50%;
    }
}

.flextalent {
    width: 50%;
    p {
        color: $brightgreen;
        font-family: "Gordita Medium";
        font-weight: 500;
        font-size: 18px;
        line-height: 35px;
    }
    .h3dup {
        color: $green;
    }
        .accordion {
            box-shadow: none;
            border-bottom: 1px solid $grey;
            padding: 10px 0;
            border-radius: 0px;
            background-color: white;
        }
    
        .accordion::before {
            background-color: rgba(0, 0, 0, 0);
        }
    
        // .MuiAccordion-root {
        //     box-shadow: none;
        //     border-radius: 0px;
        //     background-color: none;
        // }
        .css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type {
            border-radius: 0px;
        }
    
        .accordionlorem {
            font-family: 'Gordita Regular';
            opacity: 70%;
            font-size: 18px;
            line-height: 32px;
            opacity: 70%;
            color: $black;
            padding: 0;
        }
    
        .h3dup {
            font-size: 24px;
            font-family: 'Gordita Medium';
            font-weight: 500;
            line-height: 34.2px;
            width: 100%;
            padding: 0;
        }
        .paddingfix {
            padding: 0;
        }
        .paddbottom {
            padding-bottom: 20px;
        }
        button {
            margin: 50px 0 15px 0;
        }
}

.flextopcompany {
    display: flex;
}

.flexcompanycolors {
    display: flex;
    justify-content: space-between;
    img {
        width: 85px;
        height: 85px;
    }
    h4 {
        margin: 10px;
    }
    li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: calc(25% - 30px);
        padding: 40px 35px;
        background-color: white;
        border-radius: 50px;
        p {
            font-size: 16px;
            line-height: 30px;
            opacity: 70%;
            text-align: center;
            margin: 20px 0;
        }
        button {
            border: 1px solid $brightgreen;
            color: $brightgreen;
            background-color: white;
            font-size: 18px;
            padding: 1px 20px;
        }
    }
}

.flexcard {
    display: flex;
    justify-content: space-between;
    .card {
        width: calc(100%/2 - 20px);
        padding: 40px;
        background-color: #249F47;
        border-radius: 30px;
        height: 530px;
        p {
            color: white;
        }
        p:nth-child(3) {
            padding: 40px 0 35px 0;
            font-size: 16px;
        }
        p:nth-child(2) {
            font-family: 'Gordita Medium';
            font-weight: 500;
            font-size: 36px;
            line-height: 50px;
            padding: 50px 0 0 0;
        }
        hr {
            border: none;
            height: 1px;
            background-color: white;
        }
    }
}

.starflex {
    display:flex;
    justify-content: space-between;
    align-items: center;
    p {
        padding: 40px 0;
        font-weight: 500;
        font-family: 'Gordita Medium';
    }
}

.QA {
    text-align: center;
    p:first-child{
        text-align: left;
        width: 100%;
    }
    .qastylep {
        background-color: $lightgreen;
        display: inline-block;
        border-radius: 30px;
        font-weight: 500;
        font-family: 'Gordita Medium';
        font-size: 16px;
        padding: 6px 20px;
        opacity: 100%;
        margin-top: 60px;
        text-align: center;
    }
    p a {
        color: $brightgreen;
        text-decoration: underline;
        padding: 5px;
    }
    .accordion {
        box-shadow: none;
        border-bottom: 1px solid $grey;
        padding: 10px;
        border-radius: 0px;
        background-color: white;
        margin: 0 35px;
    }
    .accordion::before {
    background-color: rgba(0, 0, 0, 0);
    }
    // .MuiAccordion-root {
    //     box-shadow: none;
    //     border-radius: 0px;
    //     background-color: none;
    // }
    .css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type {
        border-radius: 0px;
    }
    .accordionlorem {
        font-size: 18px;
        font-family: 'Gordita Regular';
        line-height: 33px;
        opacity: 70%;
    }
    .h3dup {
        font-size: 24px;
        font-family: 'Gordita Medium';
        font-weight: 500;
        line-height: 34.2px;
    }
}

.flexjobi {
    display: flex;
}

.flexjobicards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        width: 45%;
        p:nth-child(2) {
            font-size: 16px;
            color: #AAAAAA;
            line-height: 25px;
        }
        span {
            color: $black;
            font-weight: bold;
            font-size: 16px;
        }
        p:nth-child(3) {
            font-weight: 500;
            font-family: 'Gordita Medium';
            font-size: 32px;
            line-height: 42px;
            padding: 28px 0 17px 0;
        }
        p:nth-child(4) {
            font-size: 18px;
            letter-spacing: -1px;
        }
        img {
            width: 100%;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    li a {
        font-size: 17px;
        line-height: 44px;
        opacity: 70%;
    }
    li h3 {
        padding-bottom: 15px;
    }
}

.rightfooter {
    h3 {
        padding-bottom: 15px;
    }
    p {
        font-size: 18px;
        line-height: 38px;
        padding-bottom: 20px;
    }
    form {
        border: 1px solid $black;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between; 
    }
    label, input {
        border: none;
        font-size: 16px;
        line-height: 22px;
    }
    button {
        border-radius: 6px;
    }
    p:last-child {
        font-size: 14px;
        line-height: 26px;
        color: #979797;
    }
}

.copyright {
    text-align: center;
    font-size: 12px;
    opacity: 70%;
    padding: 100px 0 50px 0;
}
